{% extends 'base.html' %}

{% block title %}
Добавление статьи
{% endblock %}

{% block body %}
<div>
    <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="/home" class="nav-link active" aria-current="page">Главная</a></li>
            <li class="nav-item"><a href="/post" class="btn btn-success">Статьи</a></li>
            <li class="nav-item"><a href="/about" class="btn btn-success">About</a></li>
        </ul>
    </header>
    <h1>Добавление статьи</h1>
    <form method="post">
        <input type="text" name="title" id="title" class="form-control" placeholder="Введите название"><br>
        <textarea name="intro" id="intro" class="form-control" placeholder="Введите анонс"></textarea><br>
        <textarea name="text" id="text" class="form-control" placeholder="Введите основной текст"></textarea><br>
        <input type="submit" class="btn btn-success" value="Отправить">
    </form>
</div> 
{% endblock %}